src/main/app/zab-threads.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8091" doc:name="HTTP Listener Configuration">
        <http:worker-threading-profile maxThreadsActive="10" maxThreadsIdle="1" threadTTL="60000" poolExhaustedAction="WAIT"/>
    </http:listener-config>
    <queued-asynchronous-processing-strategy name="Queued_Asynchronous_Processing_Strategy" maxThreads="50" minThreads="2" threadTTL="60000" doc:name="Queued Asynchronous Processing Strategy"/>
    <configuration defaultProcessingStrategy="queued-asynchronous" doc:name="Configuration">
     
        <http:config useTransportForUris="false"/>
        
        <default-threading-profile
            threadWaitTimeout="8" maxThreadsActive="50" maxBufferSize="150"
            maxThreadsIdle="2" />
    </configuration>
    <flow name="zab-threadsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <logger message="test message from thread pool  - #[java.lang.Thread.currentThread().getId()]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
